.card {
    cursor: pointer;
    border: none;
    overflow: hidden;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 10px 15px 11px 0px;
    display: flex;
    flex-direction: column;

    input {
        margin: 5px;
    }

    img {
        height: 200px;
    }

    > h3 {
        height: 80px;
        display: flex;
        align-content: center;
        padding: 8px;
    }

    .price {
        color: #595959;
        padding: 8px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }
}

.selected {
    border: 6px solid black;
}