.navbar-bg {
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;     
  margin: 0 auto;        
  box-sizing: border-box;
  width: 100%;
  font-family: sans-serif;
}

.navbar-section {
  display: flex;
  align-items: center;
}

.left {
  gap: 1rem;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-top: 0.3rem;
}
.right {
  gap: rem;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.5rem 2.2rem 0.5rem 1rem; 
  border: 1px solid #ccc;
  border-radius: 2rem;
  outline: none;
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-logo img {
  height: 3.5rem;     /* Aumentá esto según necesidad */
  max-height: 4rem;   /* Límite superior para evitar exageraciones */
  width: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .navbar-logo img {
    height: 4rem;
  }
}