.navbar-bg {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 0.8rem 2rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.navbar-content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo a la izquierda */
.navbar-logo img {
  height: 2.5rem;
  width: auto;
}

/* Centro: barra de búsqueda */
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 600px;
  padding: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 999px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin: 0 2rem;
  gap: 0.5rem;
  background-color: #fff;
}

/* Botón de búsqueda */
.search-btn {
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Derecha */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 0.95rem;
}

.profile-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 0.4rem 0.8rem;
}
.notificaciones-options {

}