.search-input {
    flex: 1;
    min-width: 120px;
    min-height: 57px;
    border: none;
    outline: none;
    padding: 0.6rem 1rem;         /* más espacio interno */
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 1rem;              /* texto más grande */
}

.rango {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}