.filtros-container {
    text-align: center;
    margin-top: 1rem;
}

.filter-pill {
    padding: 0.6rem 1.2rem;
    border: 1px solid #ddd;
    border-radius: 999px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.filter-pill:hover {
    background-color: #f2f2f2;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-filtros {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-header h2 {
    font-size: 1.5rem;
}

.cerrar-btn {
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.opciones-row {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.7rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    width: 100px;
    cursor: pointer;
    transition: 0.2s;
}
.selected {
    border: 3px solid black;
}

.opcion:hover {
    background-color: #f6f6f6;
}

.pill {
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
}

.pill:hover {
    background-color: #f2f2f2;
}

.rango input {
    flex: 1;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.borrar-btn {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    font-weight: bold;
}

.aplicar-btn {
    background-color: #222;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.aplicar-btn:hover {
    background-color: #333;
}